@import "../Constants.css";

.navbar {
    background: var(--secondary-bg-colour);
    padding: 0 15px;
}

a {
    color: var(--main-text-colour);
    text-decoration: none;
}

    a:hover {
        font-weight: 200;
    }

.menu, .submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover, .item a:hover::after {
    font-weight: 500;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    border-bottom: 1px var(--main-text-colour) solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}